@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

:root {
  /* Backgrounds */
  --main-bg: #484170;
  --display-bg: #1E1834;
  --keypad-bg: #282343;

  /* Keys */
  --dark-key-bg: #746397;
  --dark-key-shadow: 0 6px #564072;
  --light-key-bg: #DEDCEA;
  --light-key-shadow: 0 6px #9A97B4;

  /* Text */
  --dark-key-text: #fff; 
  --light-key-text: #4F445A;
  --previous-display: rgba(255, 255, 255, 0.7);

  /* Border-radius */
  --calculator-border: 8px; 

  /* Padding */

  /* Font size Numbers */
  --number-fz : 32px; 
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Spartan';
  font-weight: bold;
  font-size: 1.6rem;
  background-color: var(--main-bg);
}

section#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.calculator .display {
  display: grid;
  grid-template-rows: 50px minmax(60px, auto);
  justify-items: end;
  align-items: center;
  word-break: break-all;
  word-wrap: break-word;
  padding: 10px 20px;
  background-color: var(--display-bg);
  border-radius: var(--calculator-border);
}

.calculator .display .previous-op {
  font-size: 1.8rem;
  color: var(--previous-display);
}

.calculator .display .current-op{
  font-size: 4rem;
  color: var(--dark-key-text);
}

.calculator .keypad {
  display: grid;
  grid-template-columns: repeat(4, minmax(45px, 100px));
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--keypad-bg);
  border-radius: var(--calculator-border);
}

.calculator .keypad > button {
  display: grid;
  grid-template-rows: 70px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 3.5rem;
  font-family: 'Spartan';
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 6px; 
}

.calculator .keypad > .span-two {
  font-size: 2.8rem;
  background-color: var(--dark-key-bg);
  color: var(--dark-key-text);
  box-shadow: var(--dark-key-shadow);
}

.calculator .keypad > .span-two:first-child {
  grid-column: 1/3;
}

.calculator .keypad > .span-two:last-child {
  grid-column: 3/5;
}

.calculator .keypad > button[data-number], .calculator .keypad > button[data-operator] {
  background-color: var(--light-key-bg);
  color: var(--light-key-text);
  box-shadow: var(--light-key-shadow);
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .calculator {
    padding: 20px;
  }

  .calculator .display {
    grid-template-rows: 40px minmax(40px, auto);
  }

  .calculator .keypad {
    gap: 15px;
  }
}